@charset "uft-8";

body {

    background-color: #E8D9BF;

}



.header {
    position: relative;

}

.header_slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
    gap: 55px;

}

.pc_nav ul li {
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic,
        "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", sans-serif;
    font-weight: bold;
    width: 105px;
    text-align: center;
}

a {
    color: inherit;
    transition: 0.3s;

}

a:hover {
    opacity: 0.5;
}

#catch {
    margin: auto;
    text-align: center;
    font-weight: normal;
    padding-top: 104px;
    padding-bottom: 94px;

}

.catch_1 {
    font-size: 30px;
    margin-bottom: 46px;

}

.catch_2 {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin-bottom: 20px;

}

.catch_3 {
    font-size: 23px;
    line-height: 1.6;
    letter-spacing: 0.1em;
}



#ABOUT {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.ABOUT-photo {
    width: 50%;
}

.ABOUT-photo img {
    border-bottom-right-radius: 82px;
}



.ABOUT-inner {
    width: 41%;
}


#ABOUT h2 {
    width: 272px;
    padding-top: 56px;
    padding-bottom: 48px;

}

.ABOUT-text1 {
    font-size: 44px;
    line-height: 1.4;
    margin-bottom: 23px;
}

.ABOUT-text2 {
    font-size: 16px;
    line-height: 1.6;
}

#MENU {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;

}

#MENU h2 {
    width: 151px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 39px;

}

.MENU-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;

}


.MENU-inner img {
    border-top-right-radius: 42px;

}

.MEMU-box {
    width: 30%;
}

.MENU-box>div {
    position: relative;
}

#MENU h3 {
    font-size: 38px;
    color: #D30202;
    position: absolute;
    top: 95%;
    left: 12px;
}

#MENU p {
    font-size: 17px;
    line-height: 1.47;
    padding-top: 44px;
}

#GALLERY {
    padding-bottom: 60px;
}

#GALLERY h2 {
    width: 245px;
    margin: 0 auto;
    padding-bottom: 17px;


}

#GALLERY ul {
    display: flex;
}

#GALLERY li {
    width: 20%;
    object-fit: cover;
}

#EVENT {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

#EVENT h2 {
    width: 174px;
    margin: 0 auto;
    padding-bottom: 31px;
}

.news-inner {
    border: 3.6px solid;
    background-color: #FFFFFF;
    padding-top: 41px;
    padding-bottom: 41px;
}

.news-inner>div {
    width: fit-content;
    margin: 0 auto;
}

.news-inner ul {
    display: flex;
    gap: 48px;
}

.news-inner li {
    text-align: left;
    font-size: 23px;
    line-height: 1.95;
}

.news-inner a {
    border-bottom: 1px solid;
}

#ACCESS h2 {
    width: 213px;
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 38px;
}

#ACCESS iframe {
    display: block;
    height: 450px;
    width: 100%;
    position: relative;
}

#FOOTER {
    background-color: #FFFFFF;

}

.footer-wrap {
    max-width: 1151px;
    display: flex;
    justify-content: center;
    padding-top: 74px;
}

.footer-logo {
    width: 226px;
}

.footer-list {
    font-size: 20px;
    padding-left: 64px;
    padding-bottom: 75px;
}

.page-logo {
    width: 125px;
    position: fixed;
    bottom: 16%;
    right: 16%;


}

#FOOTER p {
    text-align: center;
    padding-bottom: 75px;
}










/*ここからやる。

/*スマホ版のメニュー*/

.sp_nav,
.sp_btn {
    display: none;
}

/*メニューとロゴがぶつかるタイミング*/

@media screen and (max-width: 1100px) {

    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
    }

    .sp_btn span {
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        /*位置の調整*/
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before .sp_btn span::after {
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        /*位置の調整*/
        position: absolute;
        top: 21px;
        right: 25px;
        /*重なり具合の調整*/
        z-index: 2;
        transition: 0.3s;

    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn::after {
        top: 10px;
    }

    /*バツ印*/
    .sp_btn.open span {
        background: transparent;

    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
}

/*メニューの見た目*/
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*デバイスの高さ*/
    background: rgba(0, 0, 0, 0.8);
    /*重なり具合の調整*/
    z-index: 1;

}

.sp_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 40px;
}

.sp_nav ul li {
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}